@keyframes load_Animation 
{
    From{
        opacity:0 ;
        }   

    to
    {
        opacity: 1 ;
    }
}
@keyframes background_Animation {
   
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}
body , :root
{
background-image: linear-gradient(90deg, rgba(62,81,81,1) 0%, rgba(222,203,164,1) 50%);
padding:0px;
margin:0px;
margin-bottom: 50px;
background-size: 200% 200%;
animation: background_Animation 1s ease-in-out ;
}
main{
    animation: load_Animation   1.5s   ease-in-out;
}
/* text */
.text
{
    font-family: droid-sans,  sans-serif;
    color:white;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    display:inline-block ;
}
h1
{
    margin-top: 5px ;
    margin-bottom: 5px;
    margin-left: 5%;
}
/* nav */
 /* navigation */
 nav#top-nav-bar
 {
     position:relative ;
     height:50px ;
     margin-top: 5px ;
     /* top:10px ; */
     /* width:100%; */
     margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
     display: flex ;
     
 
 }
 #player-logo
 {
     display:flex ;
 }
 #logo
 {
     width:25px ;
 }
 #logo  #logo-photo
 {
     width:100% ;
     height:auto;
 }
 #player-logo #name
 {
     font-family: droid-sans, sans-serif;
     font-size: 8px;;
     font-weight: 700;
     
     font-style: normal;
     color: white ;
     align-self: center;
 }
 
 #profile
 {
     
     margin-left: auto;
     margin-right: 2px;
     display: flex;
     position: relative;
    
 }
 #photo
 {
     width:30px ;
 }
 #photo img
 {
     width: 100% ;
     border-radius: 50%;
     height: auto;
 }
 /* search */
 ::placeholder
 {
     color:rgba(255, 255, 255, 0.453) ;
     font-family: droid-sans, sans-serif; ;
 }
 #search-icon  
 {
     width:20px;
     margin-top:4px ;
     margin-right: 10px;
 }
 #notification
 {
     width:15px;
     margin-top:4px ;
     margin-right: 10px;
 }
 /* search Bar */
#search-bar 
{
    margin-top:4px;
    margin-right:8px;
    /* overflow-x: hidden; */
   

}
#search-bar input
{
    width :0px;
    background: none;
    border: none ;
    
    padding-left: 6px;
    /* display: none; */
    opacity: 0;
    transition: all 1s ease-in-out;
}
#search-bar input:focus, textarea:focus, select:focus{
    outline: none;
    border-bottom: solid 2px black;
}

#toggle-search:checked ~ input
{
    opacity:1;
    width: 120px;
    border-bottom: solid 1px black;
    display: inline-block;
}


/* artist */

#artist-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DECBA4;  /* fallback for old browsers */
    background-image: linear-gradient(180deg, rgb(70, 130, 130) 0%, rgb(221, 185, 114) 100%);
    width:90%;
    margin-left:auto;
    margin-right:auto ;
    padding-top: 20px;
    padding-bottom: 20px;
}
#image-container
{
    width:150px;
    height:150px;
    
}
#image-container img
{
    width: 100%;
    height:auto ;
    
}
#artist-info-text
{
    width:95% ;
}
/* artist songs */
ul
{
    padding:0;
    margin-top: 10px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
   
}
#artist-songs li
{
    list-style: none ;
    background-color: #354342;
    /* margin-top:5px; */
    /* margin-bottom :5px ; */
    height:60px ;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left:20px;
    
}

#current-song
{
    width:25px;
    height:25px ;
    
    
}
#song-details
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left :25px;
}
#current-song img{
    width:100% ;
    height :auto ;
    box-shadow: 0px 0px 5px #fff;
}
#song
{
    margin:2px 0px 0px 12px;
}
 #song-artist
 {
    font-size: 12px;
    color:#C5C6D0 ;
    margin:0px 0px 0px 12px;
}

#options
{
   /* position: relative;
   right: -70px; */
   width:100px;
   margin-left: auto;
   
}
#like , #add 
{
    width:20px;
    height: 20px ;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;

}
#like img, #add img
{
    width: 100%;
    height: auto;
}
#similar-artists li , #recentlyplayed li
{

    list-style: none ;
    
    /* margin-top:5px; */
    /* margin-bottom :5px ; */
    height:60px ;
    /* width:100%; */
    display: flex;
    align-items: center;
    padding-left:20px;
}
#state:checked ~ #music-queue {
    bottom: 60px;
    opacity: 1;
}
button#playall
{
    
    background-color: #354342;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    border: none;
    /* justify-content: center; */
}

/* aside section */
  
aside
{

}
 
#music-bar
{
   position:fixed; 
   bottom:0px;
   left:0px ;
   min-height:50px ;
   width:100%;
   background-color:  #0F2027;
   /* background-image: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
   display:flex ;
   justify-content: space-around;
   align-items: baseline;
   padding-top: 10px;
   /* padding-bottom:20px; */
}
#controls
{
   width:50% ;
   
   
   display:flex;
   justify-content: space-between;
   align-items:center;
}
.player-control
{
    width:30px ;
    height:30px;
}
.player-control img
{
    width:100%;
    height:auto;
}
.visible
{
   display: none;
}


#music-queue
{
   width:100vw;
   min-height: 250px;
   margin:0px;
   padding:0px;
   background-image:linear-gradient(0deg, #0F2027 0%, rgba(62,81,81,1) 45%);
   linear-gradient(135deg, rgba(62,81,81,1) 0%, rgba(222,203,164,1) 100%); 
   position: fixed;
   bottom:-300px;
   left: 0px;
   opacity:0 ;
   transition : all 1s ease-in-out ;
   
}
#qu
{
    margin-left:20px;
    margin-top:10px ;
    margin-bottom: 10px;
    font-size:  25px;
    color: var(--textColor);
}
#music-queue ul
{
    display: inline-block;
}
#music-queue ul li
{
    list-style: none;
    margin-left:20px;
    margin-bottom : 10px;
    display:flex ;
}
#music-queue #song-details
{
   margin-left:20px;
}
#music-queue ul li::after
{
   content:'' ;
   display: inline-block;
   width:15px;
   height:15px ;
   background-image: url("like.png");
   background-size: cover;
   margin-left:100px;
   
}
#music-queue #song
{
   color: var(--textColor);
   font-size: 14px;
   text-transform: capitalize;
}
#music-queue #artist
{
   font-size: 12px;
   color:#C5C6D0 ;
}

 #music-bar #current-song
{
    width:25px;
    height:25px ;
    position: relative;
    top:-10px;
    
}
#music-bar   #current-song marquee
{
   width:40px;

}

#music-bar   #current-song img{
    width:100% ;
    height :auto ;
    box-shadow: 0px 0px 5px #fff;
}
#state
{
    display:none;
}

#state:checked ~ #music-queue
{
   bottom:60px;
   opacity:1 ;
}
     
.player-control
{
    width:30px ;
    height:30px;
}
.player-control img
{
    width:100%;
    height:auto;
}
.visible
{
   display: none;
}


#music-queue
{
   width:100vw;
   min-height: 250px;
   margin:0px;
   padding:0px;
   background-image:linear-gradient(0deg, #0F2027 0%, rgba(62,81,81,1) 45%);
    /* linear-gradient(135deg, rgba(62,81,81,1) 0%, rgba(222,203,164,1) 100%);  */
   position: fixed;
   bottom:-300px;
   left: 0px;
   opacity:0 ;
   transition : all 1s ease-in-out ;
   
}
#qu
{
    margin-left:20px;
    margin-top:10px ;
    margin-bottom: 10px;
    font-size:  25px;
    color: var(--textColor);
}
#music-queue ul
{
    display: inline-block;
}
#music-queue ul li
{
    list-style: none;
    margin-left:20px;
    margin-bottom : 10px;
    display:flex ;
}
#music-queue #song-details
{
   margin-left:20px;
}
#music-queue ul li::after
{
   content:'' ;
   display: inline-block;
   width:15px;
   height:15px ;
   background-image: url("like.png");
   background-size: cover;
   margin-left:100px;
   
}
#music-queue #song
{
   color: var(--textColor);
   font-size: 14px;
   text-transform: capitalize;
}
#music-queue #artist
{
   font-size: 12px;
   color:#C5C6D0 ;
}

 #music-bar #current-song
{
    width:25px;
    height:25px ;
    position: relative;
    top:-10px;
    
}
#music-bar   #current-song marquee
{
   width:40px;

}

#music-bar   #current-song img{
    width:100% ;
    height :auto ;
    box-shadow: 0px 0px 5px #fff;
}
#state
{
    display:none;
}

#state:checked ~ #music-queue
{
   bottom:60px;
   opacity:1 ;
}
#progress-elements
{
   width:60%;
 
   position: fixed;
   bottom:09px;
   left:25%;
   display: flex;
   justify-content: baseline;
 
}
  
#progress-bar
{
   width:80%;
   margin-left:4px;
   margin-right:4px;
   height:2px ;
   background-color:#595a4e;
   position: relative;
   top: 10px;
   /* position: fixed;
   bottom:14px;
   left:25%; */
}
#played-progress
{
   width:50%;
   height: 100%;
   background-color:chartreuse;
}
#progressindicator
{
   width:10px;
   height:10px ;
   border: 2px solid white;
   background-color: chartreuse;
   border-radius: 50%;
   position: absolute;
   left: 48% ;
   top:-6px;
}
@media screen and (min-width:425px ) 
{
    #image-container
{
    width:250px;
    height:250px;
    
}


 


/*for tablets  */
@media screen and (min-width:700px ) 
{

    #artist-info
{
    flex-direction: row;
    padding-left:20px;
    padding-right:20px;
    align-items:center;
    position: relative;
}
#image-container
{
    margin-right: 5px;
}
#artist-info-text
{
    margin-left: 5px;
    position: relative;
    top:-40px;
}
button#playall
{
    position:absolute ;
    top:70% ;
    left:60% ;
    
}
/* nav section */
nav
{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#logo
{
    width:60px ;
}
#photo
{
    width:50px ;

}
#search-icon
{
    width:30px;
    margin-top:10px ;
    margin-right: 20px;
}
#search-icon  
{
    width:25px;
    margin-top:10px ;
    margin-right: 10px;
}
#notification
{
    width:20px;
    margin-top:10px ;
    margin-right: 10px;
}
#search-bar 
{
    margin-top:10px;
    margin-right:20px;
    
    overflow-x: hidden;
   

}
#toggle-search:checked ~ input
{
    opacity:1;
    width: 180px;
    border-bottom: solid 1px black;
    display: inline-block;
}
#player-logo #name
{
    font-size: 16px;
}



}

}
/* for pcs */
@media screen and (min-width:1000px ) 
{
    #artist
    {
        width:60%;
        margin-left: 60px; 
    }
    nav#top-nav-bar
    {
        margin-top: 50px;
        margin-left: 25px;
        margin-right:25px ;
    }

    #artist-info
{
   /* width:60%; */
   justify-content: flex-start;
   /**/
}
#artist-songs li
{ 
    margin-top: 10px ;
    margin-bottom: 10px; 
}


#similar-artists
{
    position: fixed;
    right: 80px;
    top:110px;
    width:27%;
   
    
}


#similar-artists li
{
   height:auto ;
    
}
#recentlyplayed
{
    position: fixed;
    right: 120px;
    top:450px;
    width:22%;
}
#current-song
{
    min-width: 50px;;
    width:50px;
    height:50px ;
    
    
}

#similar-artists #current-song
{
    min-width: 80px;;
    width:80px;
    height:80px ;
    margin-bottom: 10px;
    
    
}
/*aside section */
 #state:checked ~ #music-queue
{
    /* look at it */
   
        bottom:80px;
       
   
    opacity:1 ;
} 
#music-bar
{
    padding-bottom: 28px;
}
#music-bar #current-song
{
   width:40px;
   height:40px ;
   position: relative;
   top:5px;
}
#current-song marquee
{
  width:80px;
}

#music-queue::-webkit-scrollbar
{
  width:0px;
}
#qu
{
   font-weight: 600;
}
#music-queue ul li::after
{
  
  width:20px;
  height:20px ;
 
  
}
#music-queue #song 
{
  
  font-size: 16px;
 
}
#music-queue #artist
{
  font-size: 14px;
  
}

}